.Charts {
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    overflow: visible;
    
  }

  .apexButton {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    overflow: visible;
    background-color: #6900AB;
    color: #fff;
    
  }

  .apexcharts-canvas {
    width: 100% !important;
    height: 100% !important;
  }
  .apexcharts-inner.apexcharts-graphical {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
  }

  .apexcharts-inner {
    width: 100% !important;
    height: 100% !important;
  }

  .apexcharts-graphical {
    width: 100% !important;
    height: 100% !important;
  }

  .apexcharts-title-text {
    font-size: 25px !important;
    font-family: 'Segoe UI', sans-serif !important;
    font-weight: bold !important;
    color: #333 !important;
  }

  .apexcharts-data-label {
    font-size: 12px !important;
    font-family: 'Segoe UI', sans-serif !important;
    font-weight: normal !important;
    color: #666 !important;
  }

  .apexcharts-xaxis-label {
    font-size: 12px !important;
    font-family: 'Segoe UI', sans-serif !important;
    color: #000 !important;
  }
  .apexcharts-yaxis-label {
    font-size: 12px !important;
    font-family: 'Segoe UI', sans-serif !important;
    color: #000 !important;
  }

    .apexcharts-toolbar {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    opacity: 0.4 !important;
  }  

  

  

  .table-container {
    flex: 1;
    margin: 10px;
    border-collapse: collapse;
    box-shadow: 1px 2px 9px #323447 ;
    border-radius: 10px;
  
  }
  
  /* Header for the main table (not for header in collapsible row) */
  .table-container .main-header {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    
  }
  
  /* Style for the subsection headers */
  .table-container .subsection-header {
    background-color: #A8A8F0;
    /* border: 1px solid #ddd; */
    width: 34%;
  }
  
  /* Table cells */
  .table-container td {
    padding: 8px;
    text-align: left;
    /* border: 1px solid #ddd; */
    /* word-wrap: break-word; */
    overflow: auto;
    white-space: normal; 
    max-width: 33%;
    word-break: break-all; /* Force long words to break and wrap */
  }
  
  /*Row changes color when hovered over */
  .table-container tbody tr:hover {
    background-color: #f8f3f3;
  }
  
  .table-container tbody .child-row:hover {
    background-color: #e6e4e4;
  }
  
  
  .chart-container {
    /* max-width: 800px;  */
    /* height: 80vh; */
    width: 80vw;
    height: auto;
    margin: 0 auto;  
    padding: 20px;    
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .chart-container canvas {
    width: 80% !important; /*chart canvas takes full width within the container */
    height: auto !important; /* adjust its height proportionally */
    margin-left: auto;
    margin-right: auto;
    /* background-color: #323447; */
    
  }
  .chart-container .apex-chart{
    width: 80% !important; /*chart canvas takes full width within the container */
    height: auto !important; /* adjust its height proportionally */
    margin-left: auto;
    margin-right: auto;
    /* background-color: #323447; */
    
  }
  
  .doughnut-chart-container canvas {
    width: 30%; /* Ensure the chart canvas takes full width within the container */
    height: auto !important;
    padding: 3%;
    background-color: #323447;
  }



  /* #chartjs-tooltip {
    position: absolute;
    pointer-events: none;
    transition: all .1s ease;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
  } */
  #chartjs-tooltip {
    position: absolute;
    margin: 0;
    pointer-events: none;
    color: #333;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    /* padding: 10px; */
    /* z-index: 1000; Ensure tooltip is above other elements */
    transition: all .1s ease;

  }
    
  .tooltip-header {
    font-weight: bold;
    background-color: #ECEFF1;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .tooltip-separator {
    border: none;
    border-top: 1px solid; /*thickness*/
    margin: 0;
    border-color: '#DDDDDD'
  }
  
  .tooltip-body {
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  
  .tooltip-color {
    display: inline-block;
    color: #000;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .main-header {
    font-weight: bold;
  }
  
  .subsection-header {
    font-weight: bold;
    background-color: #E3EEEF;
  }
/*   
  .child-row {
    background-color: #FF5733;
  } */

  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }